body {
    font-family: "Rubik";
    /*background: linear-gradient(92.92deg, #1359c1 0%, #2999ea 97.12%);*/
    background: rgba(61, 133, 249, 1);
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
.img1 img {
    width: 1049px;
    height: 1049px;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
}
header p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.desktop {
}
.menu {
    margin-top: -1049px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    padding-top: 15px;
}
.logo {
}
.Ua {
    display: flex;
    width: 47px;
    height: 17px;
}
.Ua p {
    margin: 0;
    padding-left: 5px;
}
.desing p {
    margin: 0;
    padding-bottom: 2px;
}
.line {
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(250, 148, 11));
    width: 60px;
    height: 3px;
}
.want {
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(255, 230, 0), rgb(250, 148, 11));
    border-image-slice: 1;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 125px;
    height: 44px;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.15));
}

/*Section_2*/

.section_1 {
}
.desktop_2 {
    display: flex;
}
.title {
    margin: 0;
    width: 653px;
    height: 153px;
    font-style: normal;
    font-weight: 500px;
    font-size: 50px;
    line-height: 75%;
    color: #07275c;
    margin-bottom: 72px;
}
.title_box {
    padding-left: 150px;
    padding-top: 165px;
}
.button {
    box-sizing: border-box;
    width: 245px;
    height: 50px;
    background: linear-gradient(262.95deg, #ffe600 0%, #fa940b 99.33%);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 10px;
}
.button p {
    width: 197px;
    height: 21px;
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    line-height: 21px;
    color: #07275c;
}
.img_2 img {
    padding-top: 160px;
    margin-left: -300px;
}

.img_2 {
    padding-bottom: 171px;
}

/*Section 3*/

.section_3 {
    margin-bottom: 204px;
}
.decktop_3 {
    display: flex;
}
.title.title_3 {
    width: 313px;
    height: 66px;
    margin: 0;
    margin-bottom: 47px;
}
.desing_3 {
    padding-left: 30px;
}
.vector_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.vector {
    width: 8px;
    height: 8px;
    background: linear-gradient(262.95deg, #ffe600 0%, #fa940b 99.33%);
    box-shadow: 0px 1px 8px rgba(7, 39, 92, 0.1);
    border-radius: 100%;
}
.text_3 {
    width: 471px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding-left: 13px;
    margin: 0;
}
.img_3 {
    margin-left: 150px;
}
.btn {
    margin-top: 51px;
    width: 181px;
}

/*Section_4*/
.section_4 {
    margin-bottom: 204px;
}

/*Section_5*/
.section_5 {
    margin-bottom: 157px;
}

/*Section_6*/
.section_6 {
}
.decktop_6 {
    padding-left: 150px;
}
.title_6 {
    margin: 0;
    padding-bottom: 25px;
}
.portfolio {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.portfolio_box {
}
.des p {
    width: 140px;
    height: 26px;
    font-weight: 500px;
    font-size: 22px;
    line-height: 26px;
}

.line2 {
    width: 148px;
}
.imgs_box {
    display: flex;
    padding-bottom: 100px;
}
.img_box {
}
.img_box img {
    width: 393px;
    height: 299px;
}
.img_box h3 {
    margin: 0;
    padding-top: 10px;
    font-weight: 700px;
    font-size: 20px;
    line-height: 20px;
}
.img_box p {
    margin: 0;
    color: rgba(7, 39, 92, 0.6);
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
}

/* Section_7*/
.section_7 {
}
.decktop_7 {
    padding-left: 150px;
}
.title_blog {
}
.blog_2 {
    padding-bottom: 42px;
}
.img_box {
}
.img_blog img {
    width: 360px;
    width: 246px;
}
.read {
    margin: 0 auto;
    margin-bottom: 121px;
}
.section_8 {
    padding-bottom: 157px;
}
.decktop_8 {
    padding-left: 150px;
    display: flex;
}
.title_6 {
}
.about_text {
    width: 555px;
    height: 199px;
    margin: 0px;
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 30px;
}

.about_btn {
    margin: 0;
}

.about_box {
    margin-right: 30px;
}

/* !section 9*/

.footer {
}
.decktop_9 {
    padding-left: 150px;
}
.form_boxes {
    display: flex;
}
.input_name {
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    background: #7dbefa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
}
form input,
textarea {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    border: 0px;
    border-radius: 10px;
    padding: 6px 14px;
}
.textarea_name {
    box-sizing: border-box;
    width: 555px;
    height: 140px;
    background: #7dbefa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.inpt {
    margin: 0;
    margin-left: 7px;
}
.input_bg {
    width: 555px;
    padding-bottom: 18px;
}
.btn_form {
    margin: 0;
    width: 555px;
    background: linear-gradient(262.95deg, #ffe600 0%, #fa940b 99.33%);
    margin-bottom: 25px;
}
.box_form {
}
.title_6 {
}
.form_text {
}
.button {
}
.btn {
}
.contact {
    padding-left: 226px;
}
.contact_text {
}
.icon_box {
    display: flex;
}
.footer_box {
    display: flex;
}
.f_text_2 {
    padding-left: 401px;
}
.f_text_3 {
    padding-left: 41px;
}

/* !Мобильная*/

/* ?992px - 1200px */

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* ?768px - 992px */

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}

/* ? 576px - 768px */

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
}

/* ?0px - 576px */

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}
